.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --clr-lightgray: hsl(212, 45%, 89%);
  --clr-grayblue: hsl(220, 15%, 55%);
  --clr-darkblue: hsl(218, 44%, 22%);
}

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
  font-size: 15px;
}

html * {
  box-sizing: inherit;
}

body {
  background-color: var(--clr-lightgray);
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

/* - Mobile: 375px
- Desktop: 1440px */

.card {
  max-width: 320px;
  padding: 16px;
  border-radius: 16px;
  margin-bottom: 15px;
  background-color: white;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.card .content {
  text-align: center;
  padding: 30px 15px;
}

.card .content p {
  margin: 0;
  color: var(--clr-grayblue);
  font-size: 1rem;
}

.card .content h1 {
  font-weight: 700;
  margin-bottom: 18px;
  color: var(--clr-darkblue);
  font-size: 1.18rem;
}
